<article class="archive-article">
	<div class="archive-article-inner">
		<header class="archive-article-header">
			<% if (post.link){ %>
				<a href="<%- url_for(post.link) %>" target="_blank"><%= post.title %></a>
			<% } else { %>
				<a href="<%- url_for(post.path) %>"><%= post.title %></a>
			<% } %>
			<span>&nbsp;-&nbsp;<%= date(post.date,'MMM DD,YYYY') %></span>
		</header>
	</div>
</article>